.SkillSection{
    .carousel-button{
        color: white;
        font-size: 1.5rem;
    }
    .skill-category{
        background-color: #191D2B;
        .skillcards{
            width: 50vw;
            height: 40vh;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 3rem;
            row-gap: 3rem;
            margin: 1.5rem 0;
            @media screen and (max-width: 1100px){
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

.SkillCard{
    width: 8vw;
    text-align: center;
}
